<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyDiaryApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAF7C1AB1CD3C089004AD732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF7C1BF1CD3C089004AD732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF7C1CA1CD3C089004AD732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
